/* 기본 설정 */
body {
  margin: 0;
  font-family: 'Pretendard', sans-serif, 'Sandoll GoGoRound';
  background-color: #f4f5f7;
  color: #333;
}

header.site-header{
  border-bottom: 1px solid #000000;
  height: 104px;        
  display: flex;
  align-items: center;            
  justify-content: center;  
  padding: 0 16px;     
}

.site-header h1{
  font-size: 32px;
  font-weight: 400;
  color: #000000;
}

/* 전체 영역 가운데 정렬 */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* 로그인 섹션 */
#login-section {
  background: transparent;
  padding: 0;
  width: 350px;
}

/* 제목 */
#login-section h2 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
}

/* 폼 필드 */
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}


label {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 8px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: #7F6AEE;
  box-shadow: 0 0 3px rgba(127,106,238,0.4);
}

/* 헬퍼 텍스트 (에러 메시지 자리) */
.helper-text {
  font-size: 12px;
  color: #e74c3c;
  height: 16px; /* 공간 유지 */
  margin-top: 5px;
}

/* 버튼 */
#login-btn {
  width: 100%;
  padding: 12px;
  background-color: #ACA0EB; /* 비활성 색상 */
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#login-btn:active{ transform: translateY(1px); }

#login-btn:disabled{
  background: #ACA0EB;
  cursor: not-allowed;
  filter: saturate(.9);
}

/* #login-btn:hover {
  background-color: #7F6AEE;
} */

#signup-link {
  display: block;
  width: max-content;
  margin: 15px auto 0; 
  padding: 6px 12px;
  border: none;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}

/* #signup-link:hover {
  background: #7F6AEE;
  color: #fff;
} */

/* 헤더/푸터 */
header, footer {
  text-align: center;
  padding: 15px 0;
  color: #555;
  font-size: 14px;
}